html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

#container {
  display: flex;
  height: 100%;
}

#sidebar {
  width: 175px;
  flex-shrink: 0;
  height: 100%;
  padding-left: 30px;
  padding-top: 15px;
}

button {
  display: block;
  margin-bottom: 15px;
}